body {
 background-color: none transparent;
}
.box {
  margin-top: 20vh;
  min-height: 25vh;
  background-color: #bbb;
  border-radius: 2vw;
  text-align: center;
}
.box h1 {
  margin: 0;
  padding: 0;
  width: 100%;
}
.quote-body {
  margin: 1.5vw 0 0 0;
  font-size: 1.4em;
  font-style: italic;
}
.quote-author {
  margin-top: 0.5vw;;
}
.btn {
  margin: 1vw;
}
